body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

form {
	background-color: #fff;
	padding: 40px;
	border-radius: 5px;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 50px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 5px 0 20px 0;
	border: none;
	background: #f2f2f2;
	border-radius: 3px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

button[type="submit"] {
	background-color: #cf3f3f;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.file-upload {
	display: inline-block;
	padding: 10px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.file-upload input[type="file"] {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.error {
	color: red;
	font-weight: bold;
	margin-bottom: 20px;
}

.success {
	color: green;
	font-weight: bold;
	margin-bottom: 20px;
}